[Unit]
Description=Solana {{ validator_name }} {{ solana_cluster }} validator (Frankendancer)
After=network.target syslog.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
UMask=0002
LimitNOFILE=1000000
LimitMEMLOCK=infinity
LogRateLimitIntervalSec=0
ExecStart=/usr/local/bin/fdctl run --config {{ firedancer_config_path }}

[Install]
WantedBy=multi-user.target
